<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title> Cadastre-se | Munder </title>
<%= stylesheet_link_tag "subscription"%>
</head>
<body>
<div class="topo-menu">
  <a href="index.html">home</a>
  <a href="munder_home.html">demo</a>
</div>
<div class="header">
  <%= image_tag "header-cadastro.png", alt: "Munder"%>
</div>
<div class="formulario">
  <h1><b>Cadastro</b></h1>
  <%= form_for @user, url: create_user_path, html: { multipart: true } do |form| %>
    <label>nome:</label><%= form.text_field :name%>
    <label>username:</label>  <%= form.text_field :username%>
    <label>senha:</label> <%= form.password_field :password%>
    <label>email:</label><%= form.text_field :email%>
    <label>data de nascimento:</label><%= form.date_field :birthdate%>
    <label>Foto:</label><%= form.file_field :avatar %>
    <%= form.submit "confirmar"%>
  <% end %>
</div>

<div class="footer">
  <h5>Munder ©</h5>
</div>

</body>
</html>
