<!DOCTYPE html>
<html>
  <head>
    <title>MunderWeb</title>
    <%= csrf_meta_tags %>
    <%= yield :stylesheets %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <%= yield :javascript%>
  </body>
</html>
