<DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title> Munder - musica underground para todos os gostos </title>
  <%= stylesheet_link_tag "users"%>
  </head>
  <body>
    <div class="topo">
      <%= link_to(image_tag("munder_logo-pqn.png", alt: "Munder"), users_home_path)%>
      <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="Munder_Home.html">Perfil</a><%= image_tag @user.avatar.url(:small)%></li>
        </ul>
      <div class="busca">
        <form action="#" method="get">
          <input type="search" name="busca" placeholder="Buscar">
          <input type="submit"/>
        </form>
      </div>

          <br/>
        </div>
        <div class="menu">
          <ul>
            <li><a href="Munder_Home.html">Shows</a></li>
            <li><a href="Munder_Home.html">Bandas</a></li>
            <li><a href="Munder_Home.html">Ranking</a></li>
            <li><a href="Munder_Home.html">Playlists</a></li>
          </ul>
        </div>
        <div class="tudo"> 
          <div class="musicas">
            <div class="menu-musica">
              <h2><b>Suas Músicas</b></h2>
              <ul>
                <li><a href="#"><%= image_tag "playlist.png", alt: "playlist"%> Playlists</a></li>
                <li><a href="#"><%= image_tag "musica.png", alt: "Músicas"%>Músicas</a></li>
                <li><a href="#"><%= image_tag "albuns.png", alt: "Álbuns"%>Álbuns</a></li>
                <li><a href="#"><%= image_tag "artista.png", alt: "Artistas"%>Artistas</a></li>
              </ul>
            </div>
            <div class="recentes">
              <h2><b>Recém tocadas</b></h2>
              <div class="musica-tocada">
                <%= image_tag "cd.jpg", alt: "capa do cd"%>
                <a href="#">The number of the beast</a><br/>
                <a href="#">Iron Maiden</a><br/>
                <a href="#">The number of the beast</a>
              </div>
            </div>
          </div>
          <%= render partial: "shared/friends_side_menu.html.erb"%>
          <div class="center-box">
            <%= render partial: "shared/posts.html.erb"%>
          </div>
        </div>
            
      </body>
          <div class="footer">
            <h5>Munder ©</h5>
          </div>
            </html>

